* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    padding: 20px;
}

p {
    padding: 10px 0;
}

h3 {
    font-size: 20px;
    color: rgb(93, 204, 71);
}

.label {
    display: inline-block;
    padding: 8px 0;
    min-width: 100px;
    font-weight: bold;
}

button {
    padding: 4px;

}

.submit {
    margin-left: 104px;
}